/* Extra styles for our form library.

This stylesheet is made available under CC-0 by the GAVO project,
http://www.g-vo.org.  
See http://creativecommons.org/publicdomain/zero/1.0/ for details.
*/

.nevow-form {
  border: 1px solid #ccc;
  padding: 5px;
}

.nevow-form div.field {
  margin-bottom: 10px;
  padding: 2px 0px 2px 10px;
}

.nevow-form div.field.error {
  border-left: 2px solid #900;
  padding-left: 8px;
}

.nevow-form label {
  float: left;
  width: 100px;
}

.nevow-form .inputs {
  margin-left: 110px;
}

.nevow-form .required label {
}

.nevow-form .error label {
  color: #900;
}

.nevow-form .inputs input {
  width: 300px;
}

.nevow-form .checkbox .inputs input, .nevow-form .checkboxmultichoice input {
  width: auto;
}

.nevow-form .field.date .inputs input {
  width: auto;
}

.nevow-form .field.decimal .inputs input {
  width: 8em;
}

.nevow-form .message, .nevow-form .description {
  display: block;
  margin-left: 110px;
  font-size: 79%;
}

.nevow-form .description {
  font-style: italic;
  color: #666;
}

.nevow-form .message {
  color: #900;
}

.nevow-form .actions {
  border-top: 1px dashed #ccc;
  margin-top: 5px;
  padding: 10px 0px 5px 110px;
}

.nevow-form .actions input {
  margin-right: 0.5em;
}

.nevow-form .checkboxmultichoice .inputs {
  clear: both;
}

.nevow-form .checkboxmultichoice .inputs label {
  margin-left:10px;
  font-size:80%;
  font-style:italic;
  float: none;
  display:inline;
  color:#000;
}

.nevow-form .fileupload img {
  height:30px;
}

.nevow-form .fileuploadwidget input.upload-checkbox-remove {
  width:auto;
}

.nevow-form .disabled, .nevow-form .readonly {
  background-color: #FFF;
  color: #777;
}

.nevow-form .inputs .readonly-textarea-container {
  border: 1px solid #ccc;
  overflow: scroll;
  height: 300px;
}

.nevow-form .radiochoice .inputs input {
  width: auto;
}

.nevow-form .radiochoice .inputs label {
  display: inline;
  float: none;
}

.nevow-form .preview-show {
  display: block;
}

.nevow-form .preview-hidden {
  display: none;
}

.nevow-form .resttextarea .preview-frame {
  height: 500px;
  width: 80%;
}

/*--- CLEARFIX  ----------------------------------------------------------*/
.nevow-form div.field:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.nevow-form div.field {display:inline-block;}
/* Hide from IE Mac \*/
.nevow-form div.field {display:block;}
/* End hide from IE Mac */


.nevow-form .add {
  display:block;
}
